.container {
  margin: 50px 0px;
}

.card {
  margin: 0px 2% !important;
}

.infected {
  text-align: center;
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.recovered {
  text-align: center;
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}
.deaths {
  text-align: center;
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

@media (max-width: 770px) {
  .card {
    margin: 5% 0 !important;
  }
}
